<!-- landing-page.component.html -->

<div class="landing-page text-center text-white"
    style="background: url('https://source.unsplash.com/random/1600x900') no-repeat center center/cover; height: 100vh;">

    <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100">
        <div class="container">
            <h1 class="display-3 mb-4 typewriter">
                Welcome to <span class="rainbow">InterviewGPT</span>
            </h1>
            <!-- <h1 class="display-3 mb-4 typewriter">Welcome to InterviewGPT</h1> -->
            <p class="lead mb-4">Your journey starts here. Explore the endless possibilities!</p>
            <a routerLink="/login" class="btn btn-primary btn-lg px-5 py-3 btn-primary-highlight">Get Started</a>

            <!-- <a href="#" class="btn btn-primary btn-lg px-5 py-3">Get Started</a> -->
        </div>
    </div>
</div>

<section class="features py-5 bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="bi bi-laptop display-4 mb-3"></i>
                <h3>Mock Interview</h3>
                <p>Our product gives can give you a seamless mock Interview .</p>
            </div>
            <div class="col-md-4">
                <i class="bi bi-shield-check display-4 mb-3"></i>
                <h3>Secure</h3>
                <p>Top-notch security ensures your data is protected at all times.</p>
            </div>
            <div class="col-md-4">
                <i class="bi bi-speedometer2 display-4 mb-3"></i>
                <h3>Fast & Efficient</h3>
                <p>Our website is built for speed, ensuring a fast and smooth user experience.</p>
            </div>
        </div>
    </div>
</section>